/* .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
 /* .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.item {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
} */
/* html,
body {
  width: 90%;
  height: 50%;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  background-color: darkgray;
  height: 100%;
}

.col {
  background-color: darkslateblue;
}  */

/* .grid-container {
  display: grid;
  grid-template-columns: 100px 100px; /* Only 2 explicit columns */
/* }
.grid-item {
  background-color: burlywood;
  border: 1px solid orangered;
  padding: 0.5rem;
  margin: 0.5rem;
} */ 
 /* .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  /* grid-template-rows: repeat(3, 100px); /* 3 equal rows */
  /* gap: 10px;
}  */
/* 
.grid > div {
  display: grid;
  place-items: center;
  background: crimson;
  color: white;
  font-size: 4rem;
}
.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}  */
  .grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'sidebar-left main sidebar-right'
    'footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.sidebar-left {
  grid-area: sidebar-left;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.main {
  grid-area: main;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.sidebar-right {
  grid-area: sidebar-right;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}