:root {
  --color0: #f5f5f5;
  --color1: #d6e685;
  --color2: #8cc665;
  --color3: #44a340;
  --color4: #1e6823;
  --color5: #00441b;

  --solid-border: 2px solid black;
  --dashed-border: 2px dashed black;
}

/* availability colors */
.available-0 { background-color: var(--color0); }
.available-1 { background-color: var(--color1); }
.available-2 { background-color: var(--color2); }
.available-3 { background-color: var(--color3); }
.available-4 { background-color: var(--color4); }
.available-5 { background-color: var(--color5); }

/* borders */
.sharp td {
  border-bottom: var(--solid-border);
}

.half td {
  border-bottom: var(--dashed-border);
}

/* legend */
#legend-gradient {
  width: 200px;
  height: 20px;
  background-image: linear-gradient(
    90deg,
    var(--color0) 0%,
    var(--color0) 20%,
    var(--color5) 20%,
    var(--color5) 100%
  );
}
