@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100);
  }
}
div{
    height: 100px;
    width: 100px;
    background-color: pink;
}

.sliding-element {
  animation: slide-in 2s ease-out infinite;
}
.complex-animation {
  animation-name: color-change;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color-change {
  0% {
    background-color: red;
    transform: translate(-100%);
  }
  50% {
    background-color: blue;
    transform: translate(0%);

  }
  100% {
    background-color: green;
    transform: translate(50%);
  }
}